* {
  box-sizing: border-box;
}

body {
  /* background-color: red; */
  margin: 0px;
}

/* Header Banner Styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: "Helvetica";
  background-color: rgba(134, 157, 181, 0.665);
  color: black;
  height: 150px;
}

.header-left {
  display: flex;
  height: 100%;
  align-items: center;
}

/* Header Text */
header h1 {
  position: relative;
  display: inline-block;
  font-size: 48px;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

/* Styling for Self Photo */
#self_photo {
  display: flex;
  padding-left: 20px;
  /* width: 100px; */
  height: 100%;
  width: auto;
  /* height: 130px; */
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header nav ul li {
  padding: 0px 10px;
}

a {
  color: whitesmoke;
}

/* Header Text Hover Highlights */
a:hover {
  text-decoration-color: blanchedalmond;
  color: bisque;
}

main {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 900px;
}

.heading_sections {
  display: flex;
  margin: 10px 0px;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: stretch;
}

/* Setting flex for entire body section */
.projects-section {
  display: flex;
  flex-direction: row;
  /* background-color: gray; */
  width: 100%;
}

/* Setting width/height for Project Section */
.projects-wrapper {
  width: 70%;
  height: 70%;
}

/* Header styling for About Me Title */
.heading_sections > h2 {
  flex: 0 0 10%;
  text-align: left;
  padding-right: 10px;
  float: left;
  background-color: rgba(134, 157, 181, 0.665);
  color: whitesmoke;
}

/* Stlying for bottom 4 photos (non-Challenge 1 Photo) */
.projects-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.projects-bottom .project-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.project-container {
  display: flex;
  width: 100%;
  height: 300px;
  position: relative;
  justify-content: center;
}

.bottom-project-container {
  display: flex;
  width: 50%;
  height: 300px;
  position: relative;
  justify-content: center;
}

.bottom-project-image {
  padding: 10px;
  width: 80%;
  height: 80%;
  border-style: dashed;
  border-width: 1px;
  border-color: lightslategray;
}

.projects_header {
  flex: 0 0 10%;
  text-align: left;
  padding-right: 40px;
  background-color: rgba(134, 157, 181, 0.665);
  color: whitesmoke;
}

.project-label {
  position: absolute; /* Ensuring label is fixed in place within image*/
  width: 150px;
  height: 50px;
  background-color: whitesmoke;
  bottom: 5%;
  display: flex;
  z-index: 1; /*Setting position of the highlights for image (ensuring image is only item highlighted*/
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: lightslategray;
}

.project-image {
  padding: 10px;
  width: 300px;
  height: 300px;
  border-style: dashed;
  border-width: 1px;
  border-color: lightslategray;
}
.project-image:hover {
  filter: brightness(0.5); /* highlight effect on Challenge 1 image*/
}

.bottom-project-image:hover {
  filter: brightness(0.5); /* highlight effect on bottom 4 photos*/
}

.heading_sections img {
  width: 400px;
}

p {
  font-size: 20px;
  padding-left: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: rgba(134, 157, 181, 0.665);
  color: #fff;
}

footer h2 {
  text-align: left;
}

footer nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

footer nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

footer nav ul li {
  padding: 0px 10px;
}

@media screen and (max-width: 620px) {
  .container {
    width: 500px;
  }
  .heading_sections {
    display: flex;
    justify-content: left;
    flex-direction: column;
  }
  .bottom-project-container,
  .project-label,
  .bottom-project-image {
    flex-direction: column;
  }
}
